#!/bin/sh
set -eux
# {{ ansible_managed }}

# CAUTION: This script requires nginx is installed and started.

# cd /opt/letsencrypt_certbot

# ./certbot-auto --os-packages-only --noninteractive

# systemctl stop nginx

# https://github.com/certbot/certbot/issues/3104#issuecomment-224078564 fix
LC_ALL=C

# mkdir -p {{ letsencrypt_webroot }}

# ./certbot-auto certonly \
#                --noninteractive \
#                --standalone \
#                --expand \
#                --keep-until-expiring \
#                --agree-tos \
#                --max-log-backups 100 \
#                -m {{ letsencrypt_register_email }} \
#                --cert-name {{ letsencrypt_certname }} \
#                -w {{ letsencrypt_webroot }} \
#                {% for domain in letsencrypt_domain_names %}-d {{ domain }} {% endfor %}

# systemctl start nginx


# certbot certonly --manual \
#     --preferred-challenges dns-01 \
#     --keep-until-expiring \
#     --max-log-backups 100 \
#     -m {{ letsencrypt_register_email }} \
#     --cert-name {{ letsencrypt_certname }} \
#     {% for domain in letsencrypt_domain_names %}-d "{{ domain }}" {% endfor %}

certbot certonly --dns-google \
        --dns-google-credentials {{ letsencrypt_google_dns_sa_cred_file }} \
        --keep-until-expiring \
        --max-log-backups 100 \
        -m {{ letsencrypt_register_email }} \
        --cert-name {{ letsencrypt_certname }} \
        {% for domain in letsencrypt_domain_names %}-d "{{ domain }}" {% endfor %}
