# http://qiita.com/ww24/items/9fa19594b4e3a8eb9b6f
ssl_certificate {{ letsencrypt_ssl_key_dir }}/fullchain.pem;
ssl_certificate_key {{ letsencrypt_ssl_key_dir }}/privkey.pem;
ssl_session_timeout 1d;
ssl_session_cache shared:SSL:50m;
ssl_session_tickets on;
ssl_dhparam {{ letsencrypt_ssl_dhparam_path }};

ssl_protocols TLSv1.2 TLSv1.3;
# https://sslciphers.com/
ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA HIGH !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
ssl_prefer_server_ciphers on;

# Do not enable HSTS by default
#add_header Strict-Transport-Security max-age=15768000;

# OCSP Stapling ---
# fetch OCSP records from URL in ssl_certificate and cache them
ssl_stapling on;
ssl_stapling_verify on;
