server {
    listen 443 ssl http2;

    server_name {{ nginx_ssl_main_server_name }};
    root {{ nginx_ssl_main_root }};

    location /ic/ {
        rewrite /ic/(.*) /$1 break;
        proxy_pass http://icecast2;
        proxy_redirect http://icecast2/ /ic/;
    }

{% for upstream in nginx_ssl_proxy_upstreams %}

    location {{ upstream.path }}/ {
{% if upstream.strip_url | default(False) %}
        rewrite {{ upstream.path }}/(.*) /$1 break;
        # proxy_redirect
{% endif %}
        proxy_pass http://127.0.0.1:{{ upstream.port }};

    }

{% endfor %}

    # Adhoc fix for icecast2 static files, might harmful!
    location ~ ^/(corner_topleft|corner_bottomleft|corner_topright|corner_bottomright)\.jpg$ {
        proxy_pass http://icecast2;
    }

    location ~ ^/(icecast|tunein)\.png$ {
        proxy_pass http://icecast2;
    }
}
