server {
    listen 443 ssl http2;

    server_name {{ nginx_ssl_main_server_name }};
    root {{ nginx_ssl_main_root }};

    location /ic/ {
        rewrite /ic/(.*) /$1 break;
        proxy_pass http://icecast2;
        proxy_redirect http://icecast2/ /ic/;
    }

    # Adhoc fix for icecast2 static files, might harmful!
    location ~ ^/(corner_topleft|corner_bottomleft|corner_topright|corner_bottomright)\.jpg$ {
        proxy_pass http://icecast2;
    }

    location ~ ^/(icecast|tunein)\.png$ {
        proxy_pass http://icecast2;
    }
}
