http {
    location /.well-known/acme-challenge {
        root {{ letsencrypt_webroot }};

        allow all

        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }
}
