/var/log/docker-pm2/*.stdout /var/log/docker-pm2/*.stderr {
        size 10M
        rotate 5
        missingok
        notifempty
        compress
        delaycompress
        create 0644 docker users
        sharedscripts
        postrotate
                sudo -u docker /home/docker/pm2 reloadLogs
        endscript
}
