#!/bin/sh
set -eux
# {{ ansible_managed }}


/snap/bin/certbot renew \
                  --max-log-backups 100 \
                  --pre-hook "service nginx stop" \
                  --post-hook "service nginx start"
