#!/bin/sh
set -eux
# {{ ansible_managed }}

cd /opt/letsencrypt_certbot/certbot-auto

git remote prune origin
git fetch -f
git checkout -d origin/master

/opt/letsencrypt_certbot/certbot-auto renew \
                                      --max-log-backups 100 \
                                      --pre-hook "service nginx stop" \
                                      --post-hook "service nginx start"
