upstream icecast2 {
    server 127.0.0.1:{{ icecast2_server_port }};
}

server {
    listen 80;
    server_name {{ icecast2_server_name }};

    location {{ icecast2_letsencrypt_access_dir }} {
        root {{ icecast2_letsencrypt_webroot }};
    }

    location / {
        proxy_pass http://icecast2;
    }

}
