server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    return 307 http://{{ nginx_main_server_names[0] }}$request_uri;
}

{% for name in nginx_main_server_names %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ name }};

    root {{ nginx_main_root }};
    index index.html;

    location /ic/admin/ {
        return 301 https://$host$request_uri;
    }

    location /ic/ {
        rewrite /ic/(.*) /$1 break;
        proxy_pass http://icecast2;
        proxy_redirect http://icecast2/ /ic/;
    }

    # Adhoc fix for icecast2 static files, might harmful!
    location ~ ^/(corner_topleft|corner_bottomleft|corner_topright|corner_bottomright)\.jpg$ {
        proxy_pass http://icecast2;
    }

    location ~ ^/(icecast|tunein)\.png$ {
        proxy_pass http://icecast2;
    }
}
{% endfor %}
{% for proxy in nginx_host_proxies %}

server {
    listen 80;
    listen [::]:80;

    client_max_body_size 0;

    server_name {{ proxy.name }};

    location {{ nginx_letsencrypt_access_dir }} {
        root {{ nginx_letsencrypt_webroot }};
    }

    location / {
{% for directive in proxy.additional_directives | default([]) %}
        {{ directive }};
{% endfor %}
        proxy_pass http://localhost:{{ proxy.port }};
    }
}
{% endfor %}
