{
  "apps" : [{
    "name": "{{ name }}",
    "script": "sh",
    "args": ["-c", "{{ command }}"],
    "exec_interpreter": "none",
    "watch": false,
    "exec_mode": "fork",
    "autorestart": true,
    "min_uptime": "20s",
    "max_restarts": 10,
    "kill_timeout": 20000,
    "combine_logs": true,
    "out_file": "/var/log/docker-pm2/{{ name }}.stdout",
    "error_file": "/var/log/docker-pm2/{{ name }}.stderr"
  }]
}
