# For additional config options, please look at lxc.container.conf(5)

# Include common configuration
lxc.include = /usr/share/lxc/config/centos.common.conf

lxc.rootfs = {{ lxc_dir }}/{{ name }}/rootfs

lxc.arch = x86_64
lxc.utsname = {{ name }}

lxc.autodev = 1
lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = virbr0


# When using LXC with apparmor, uncomment the next line to run unconfined:
#lxc.aa_profile = unconfined

# example simple networking setup, uncomment to enable
#lxc.network.link = lxcbr0
# persistent veth device name on host side
#     Note: This may potentially collide with other containers of same name!
#lxc.network.veth.pair = v-centos0-e0

lxc.network.ipv4.gateway = 172.16.1.1
lxc.kmsg = 0

{% for key, value in configs.items() %}
{{ key }} = {{ value }}
{% endfor %}
