server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    root {{ nginx_default_root }};
    index index.html;
    autoindex on;

{% for upstream in nginx_path_proxies | default([]) %}

    location {{ upstream.path }}/ {
{% for directive in upstream.additional_directives | default([]) %}
        {{ directive }};
{% endfor %}
        proxy_pass http://{{ upstream.pass }};

    }

{% endfor %}
}
