#!groovy

def webuserName = '{{ jenkins_admin_username }}'
def webuserPassword = '{{ jenkins_admin_password }}'
def webuserSshPublickey = '''{% for key in jenkins_admin_ssh_publickey %}
{{ key }}
{% endfor %}'''

// https://github.com/geerlingguy/ansible-role-jenkins/blob/c9e043335a3f2b61c48d27a173c5b3975f07b6fa/templates/basic-security.groovy

import hudson.security.HudsonPrivateSecurityRealm
import hudson.security.FullControlOnceLoggedInAuthorizationStrategy
import jenkins.model.Jenkins

def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
def users = hudsonRealm.getAllUsers()
users_s = users.collect { it.toString() }

// TODO: Refactor

// Create the admin user account if it doesn't already exist.
if (webuserName in users_s) {
    println "Admin user ${webuserName} already exists - Updating password and other properties"
}
else {
    println "--> creating web admin user ${webuserName}"

    // TODO: Generate random password here
    hudsonRealm.createAccount(webuserName, webuserPassword)
    instance.setSecurityRealm(hudsonRealm)

    // TODO: OK to evaluate every init?
    def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
    instance.setAuthorizationStrategy(strategy)
    instance.save()
}

def user = hudson.model.User.getById(webuserName, true);
def password = hudson.security.HudsonPrivateSecurityRealm.Details.fromPlainPassword(webuserPassword)
user.addProperty(password)
// TODO: Set public key: https://github.com/hayderimran7/useful-jenkins-groovy-init-scripts/blob/master/useful_groovy_snippets.groovy

user.save()


// https://pghalliday.com/jenkins/groovy/sonar/chef/configuration/management/2014/09/21/some-useful-jenkins-groovy-scripts.html
// https://github.com/edx/jenkins-configuration/tree/master/src/main/groovy
// https://github.com/jenkinsci/docker/blob/587b2856cd225bb152c4abeeaaa24934c75aa460/Dockerfile
// https://wiki.jenkins.io/display/JENKINS/Jenkins+Script+Console
// https://github.com/hayderimran7/useful-jenkins-groovy-init-scripts/blob/master/useful_groovy_snippets.groovy
