#!groovy

def plugins = [
{% for plugin in jenkins_plugins %}
    "{{ plugin }}",
{% endfor %}
]

import jenkins.model.Jenkins

def instance  = Jenkins.getInstance()

// https://qiita.com/fuku2014/items/995cf34afd126a627c22
pm = instance.getPluginManager()
uc = instance.getUpdateCenter()

uc.updateAllSites()

def ensurePlugin(pluginName) {
    println "--> Ensuring plugin ${pluginName} ..."
    if (! pm.getPlugin(pluginName)) {
        println "--> Install ${pluginName}"
        deployment = uc.getPlugin(pluginName).deploy(true)
        deployment.get()
    }

    def plugin = pm.getPlugin(pluginName)
    if (! plugin.isEnabled()) {
        println "--> Enable ${pluginName}"
        plugin.enable()
    }

    plugin.getDependencies().each {
        println "--> Ensuring plugin ${it.shortName} as dependency of ${pluginName}"
        ensurePlugin(it.shortName)
    }
    println "--> Ensuring plugin ${pluginName} ... done"
}

plugins.each {
    println "--> Plugin: ${it}"
    ensurePlugin(it)
}


// TODO: Need to restart when new plugin is instaled?
// https://github.com/coreos/jenkins-os/blob/master/init.groovy#L34
