---
minio0:
  image: minio/minio
  container_name: minio0
  command: server /export
  ports:
    - "{{ minio_port }}:9000"
  environment:
    MINIO_ACCESS_KEY: {{ minio_access_key }}
    MINIO_SECRET_KEY: {{ minio_secret_key }}
  volumes:
    - "/data/minio/minio0/export:/export"
    - "/var/minio/minio0/export:/root/.minio"
