server {
    listen 80;
    server_name _;
    return 301 http://{{ nginx_main_server_names[0] }}$request_uri;
}

{% for name in nginx_main_server_names %}
server {
    listen 80;
    server_name {{ name }};

    root {{ nginx_main_root }};
    index index.html;
}
{% endfor %}
