server {
    listen 80 default_server;
    server_name _;
    return 301 http://{{ nginx_main_server_names[0] }}$request_uri;
}

{% for name in nginx_main_server_names %}
server {
    listen 80;
    server_name {{ name }};

    root {{ nginx_main_root }};
    index index.html;

    location /ic/admin/ {
        return 301 https://$host$request_uri;
    }

    location /ic/ {
        rewrite /ic/(.*) /$1 break;
        proxy_pass http://icecast2;
        proxy_redirect http://icecast2/ /ic/;
    }

    # Adhoc fix for icecast2 static files, might harmful!
    location ~ ^/(corner_topleft|corner_bottomleft|corner_topright|corner_bottomright)\.jpg$ {
        proxy_pass http://icecast2;
    }

    location ~ ^/(icecast|tunein)\.png$ {
        proxy_pass http://icecast2;
    }
}
{% endfor %}
