[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

ansible = "==2.7.4"
ansible-lint = "*"
passlib = "*"
# For https://nvd.nist.gov/vuln/detail/CVE-2017-18342
pyyaml = ">=4.2b1"