[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]

[packages]
ansible = "==2.9.1"
ansible-lint = "*"
passlib = "*"
# Pin pyyaml version:
# yaml.representer.RepresenterError: ('cannot represent an object', AnsibleUndefined)
# https://github.com/ansible/ansible-lint/issues/562
pyyaml = "==3.13"
