[accessLog]
format = "common"


# [api]
#   dashboard = true
#   debug = true

[entryPoints.web]
address = ":80"
[entryPoints.web-secure]
address = ":443"
# [entryPoints.dashboard]
# address = ":8080"


[certificatesResolvers.letsencrypt.acme]
email = "8.slashes@gmail.com"
storage = "/var/lib/traefik/acme.json"
# entryPoint = "web-secure"
[certificatesResolvers.letsencrypt.acme.dnsChallenge]
provider = "gcloud"
delayBeforeCheck = 0


[providers.file]
filename = "/etc/traefik/providers.toml"

